<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<center>
<h3 class="progred">PROG<b>RED</b></h3>
	<h1 class="codered">CODE<b style="color:#ff0000;">RED</b></h1>
		<h2 class="page-heading">Announcements!</h2>
	<a href="../index.php/" class="button">Dashboard</a>
	<br/><br/>

	{% for announcement in announcements %}

	<p class="ann">{{ announcement.note }}</p>

	{% endfor %}

</center>

</body>
</html>