<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<center>
	<h3 class="progred">PROG<b>RED</b></h3>
	<h1 class="codered">CODE<b style="color:#ff0000;">RED</b></h1>
	
	<h2 class="page-heading">Admin!</h2>
	<form method="POST" id="frm">
		Admin Key: <input type="password" name="key"/>
		Status: <input type="text" name="status"/>
		<input type="submit"/>
	</form>
</center>
</body>
</html>