<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<a href="../index.php/">Dashboard!</a>

	<p>Add Problem!</p>
	<form action="padmin/complete" method="POST" id="frm">

	Code: <input type="text" name="code"/>
	Name: <input type="text" name="name"/>
	<textarea name="statement" rows="25" cols="40">Enter Statement Here</textarea> <br/>
	<textarea name="output" rows="25" cols="40">Enter Output Here</textarea> <br/>
	Author: <input type="text" name="author"/>
	Admin Key: <input type="password" name="key"/>
	<input type="submit"/>

	</form>
</body>
</html>