<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../css/style.css">
</head>
<body>

<a href="../../index.php/">Dashboard!</a>
	<p>Problem Added!</p>
</body>
</html>