<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

<a href="../problems">Problem Set!</a>

	<p>Problem!</p>
	<p>{{ problem.code }}</p>
	<p>{{ problem.name }}</p>
	<p>{{ problem.statement | raw }}</p>

<a href="../submit/{{ problem.code }}">Submit!</a>

</body>
</html>