<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

<a href="../problems">Problem Set!</a>

	<p>Submit!</p>
	<p>{{ problem.code }}</p>
	<p>{{ problem.name }}</p>
	<form action="{{ problem.code }}/complete" method="POST" id="frm">

	<textarea name="output" rows="25" cols="40">Copy Output Here</textarea> <br/>
	Team Key: <input type="password" name="pass"/>
	<input type="submit"/>

	</form>
</body>
</html>