<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

<center>
	<h3 class="progred">PROG<b>RED</b></h3>
	<h1 class="codered">CODE<b style="color:#ff0000;">RED</b></h1>
	
	<h2 class="page-heading">Submit!</h2>
	<a href="../problems" class="button">Problem Set!</a>
	<p class="ann">Problem: {{ problem.name }}</p>
	<form action="{{ problem.code }}/complete" method="POST" id="frm">

	<textarea name="output" rows="25" cols="40">Copy Output Here</textarea> <br/>
	Team Key: <input type="password" name="pass"/>
	<input type="submit"/>

	</form>
</center>
</body>
</html>