<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../css/style.css">
</head>
<body>

<a href="../../problems">Problem Set!</a>

	<p>Submit Successful!</p>
	<p>{{ problem.code }}</p>
	<p>{{ problem.name }}</p>
	<p>Your Score: {{ score }}</p>
</body>
</html>