<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<a href="../index.php/">Dashboard!</a>

	<p>Add Team!</p>
	<form action="tadmin/complete" method="POST" id="frm">

	Name: <input type="text" name="name"/>
	Pass: <input type="password" name="pass"/>
	Admin Key: <input type="password" name="key"/>
	<input type="submit"/>

	</form>
</body>
</html>